fieldset {
    border: none;
    background: #f85032;
    position: relative;
    border-radius: 10px;
}

.auth-title {
    text-align: center;
}

.form-style {
    margin: 0 auto;
    width: 40%;
    margin-top: 50px;
}

.form-input, .form-label {
    display: block;
}

.form-input {
    margin: 5px auto;
    width: 75%;
    text-align: center;
}

.form-label {
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
}

.auth-button {
    margin: 20px auto 0;
    display: block;
    background: white;
    width: 75px;
    height: 40px;
    color: #f85032;
    border-radius: 5px;
}

.auth-link {
    text-align: center;
}

#js-error-message {
    color: rgb(109, 6, 4);
    text-align: center;
    font-weight: bold;
}