#dashboard-title, #dashboard-body, #dashboard-new-entry {
    text-align: center;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
  }
  
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  #new-bill {
    margin-top: 20px;
    background: #f85032;
    width: 100px;
    height: 50px;
    color: white;
  }

  .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      overflow: auto;
      background: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
      background: #f4f4f4;
      margin: 20% auto;
      width: 50%;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 2px 0 rgba(0, 0, 0, 0.17);
      animation-name: modalopen;
      animation-duration: 1s;
      border-radius: 5px;
  }

  .modal-header h2 {
      margin: 0;
      color: white;
  }

  .modal-header {
      background: #f85032;
      padding: 15px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }

  .modal-body {
      padding: 10px 20px;
  }

  .closeBtn {
      color: white;
      float: right;
      font-size: 30px;
  }

  .closeBtn:hover, .closeBtn:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }

  @keyframes modalopen {
      from {opacity: 0}
      to {opacity: 1}
  }

  .form-input, .form-label {
      display: block;
      margin: 10px auto;
  }

  .form-input {
      width: 60%;
  }

  #submit-button, #js-edit-submit-button {
    background: #f85032;
    width: 75px;
    height: 35px;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin: 15px auto;
    display: block;
  }

  #date-input {
    text-align: center;
  }

  #textReminder {
    display: inline-block;
    margin: 10px auto;
  }

  fieldset {
    border: none;
  }

 .js-bill-item {
    list-style-type: none;
 }

 .js-bill-item-delete, .js-bill-item-edit {
    color: black;
    margin-bottom: 5px;
    padding: 5px;
    border: none;
    font-size: 20px;
 }

 .js-bill-item-delete:hover, .js-bill-item-edit:hover {
     color: #f85032;
 }

 #js-signout-link {
     position: fixed;
     right: 0;
     padding: 20px;
     font-size: 15px;
     text-decoration: none;
     float: right;
     padding: 20px;
 }

 .hidden {
     display: none;
 }
